ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.dirstamp
pommedapi
stamp-h1
*.la
*Common*
*.o
.libs
*.lo
